*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
body{
    background-color: #f4f4f4;
    font-family: "Poppins", sans-serif;
}
.container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 25px;
}
.wrapper h1{
    text-align: center;
    margin: 20px auto;
    font-size: 40px;
    color: rgb(51, 51, 51);
}
.card{
    width: 100%;
    border-radius: 10px;
    position: relative;
    display: flex;
    transition: 0.5s;
    justify-content: center;
    align-items: center;
}
.card img{
    width: 100%;
    height: 100%;
    filter: grayscale(100%);
    object-fit: cover;
    border-radius: 10px;
}
.card:hover{
    scale: 1.03;
    filter: drop-shadow(0 0 10px #333);
}
.card:hover img{
    filter: grayscale(0);
}
.card figcaption{
    position: absolute;
    bottom: 0;
    width: fit-content;
    height: 16px;
    background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.2) 0%,
    rgba(255, 255, 255, 0) 100%);
    color: #ffff;
    opacity: 0;
    padding: 25px;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
}
.card:hover figcaption {
    opacity: 1;
    color: darkblue;
    bottom: -40%;
    transform: translateY(-50%) rotate(360deg) skew(-10);
    transition: 1s;
}
